.table-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; /* テーブル間の余白 */
}


button {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.b{
    width: 80px;
    height: 40px;
    margin: 3px;
}

.btn.btn-outline-info {
    color: black; /* テキスト色を黒に設定 */
    font-size: 20px;
    display: inline-flex; /* Flexboxを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
}

#delete{
    width: auto;
}